@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

html,
body {
	width: 100%;
	height: 100%;
	min-width: 250px;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	background: url('../img/background.png') 55% center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #000000;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

:focus {
	outline: none !important;
}

button:focus,
input:focus,
textarea:focus {
	box-shadow: none !important;
	outline: none !important;
}

a {
	text-decoration: none !important;
}

img {
	width: 100%;
	height: auto;
}

svg {
	font-size: 18px !important;
}

/*--------------------------------------------------------------------------------------------
    Top-menu start
-----------------------------*/

#top-menu {
	background-color: #000000;
	padding: 15px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 998;
	transition: all .2s linear;
}

#top-menu .side-nav {
	cursor: pointer;
	width: 25px;
}

#top-menu .nav-item.dropdown {
	float: right;
	display: inline-block;
	list-style: none;
}

#top-menu .dropdown-toggle {
	padding: 0;
}

#top-menu .language {
	border-radius: 50%;
	border: 2px solid #ffffff;
	width: 25px;
	padding: 1px;
}

#top-menu .flag {
	width: 20px;
	margin-right: 5px;
	vertical-align: text-bottom;
}

#top-menu .dropdown-toggle::after {
	display: none;
}

#top-menu .dropdown-menu {
	min-width: auto !important;
	text-transform: none;
	font-size: 14px;
}

#top-menu .dropdown-menu.show {
	top: 15px !important;
	padding: 0;
	margin: 0;
}

#top-menu .dropdown-menu a {
	text-align: right;
	padding: 10px 20px 10px 10px;
}

#top-menu .dropdown-item.active,
#top-menu .dropdown-item:active {
	background-color: #cccccc;
}

#top-menu .dropdown-item:hover:not(.active) {
	background-color: #f2f2f2;
}

/*----------------------------
    Top-menu end
--------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
    Side-nav start
-----------------------------*/

#side-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	z-index: 999;
	background-color: #000000;
	overflow-x: auto;
	transition: all .2s linear;
	-webkit-box-shadow: -5px 0px 30px -10px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -5px 0px 30px -10px rgba(0, 0, 0, 0.75);
	box-shadow: -5px 0px 30px -10px rgba(0, 0, 0, 0.75);
}

#side-nav .close {
	position: absolute;
	top: 15px;
	left: 15px;
	width: 25px;
	height: 25px;
	z-index: 999;
	cursor: pointer;
	text-shadow: none;
	opacity: 1;
}

#side-nav ul {
	padding: 0;
	padding-top: 70px;
}

#side-nav ul li {
	list-style: none;
}

#side-nav ul li a {
	text-transform: uppercase;
	padding: 5px 0;
	padding-left: 40px;
	font-size: 20px;
	color: #FFFFFF;
	display: block;
	cursor: pointer;
}

#side-nav ul li a.active {
	color: #000000;
	font-weight: bold;
}

#side-nav ul li a span {
	margin-left: 5px;
}

/*----------------------------
    Side-nav end
--------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
    Header start
-----------------------------*/

header {
	padding: 30px 0;
}

header ul {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

header .nav-bar .nav-item {
	display: inline-block;
}

header .nav-item a {
	padding: 7px 15px 5px;
	color: #000000;
	font-weight: 500;
	transition: all .2s ease;
	display: inline-block;
	position: relative;
}

header .nav-item:hover {
	background-color: rgba(75, 83, 32, 0.2);
}

header .nav-item.active a {
	font-weight: 700;
}

header .nav-item.active a::after {
	content: " ";
	position: absolute;
	left: 0;
	display: inline-block;
	height: 1em;
	width: 100%;
	border-bottom: 2px solid #000000;
	margin-top: 13px;
}

header .nav-item.dropdown:hover {
	background-color: transparent;
}

header .dropdown-menu a {
	margin: 0;
}

header .logo-link {
	display: inline-block;
}

header .logo {
	width: 130px;
	height: 140px;
}

header .language {
	width: 20px;
	vertical-align: sub;
}

header .flag {
	width: 20px;
	margin-right: 5px;
	vertical-align: text-bottom;
}

header .dropdown-toggle::after {
	display: none;
}

header .dropdown-menu {
	min-width: auto !important;
	text-transform: none;
	font-size: 14px;
}

header .dropdown-menu.show {
	top: 10px !important;
	left: auto !important;
	right: -50px;
	padding: 0;
	margin: 0;
}

header .dropdown-menu a {
	text-align: right;
	padding: 10px 20px 10px 10px;
}

header .dropdown-item.active,
header .dropdown-item:active {
	background-color: #cccccc;
}

header .dropdown-item:hover:not(.active) {
	background-color: #f2f2f2;
}

/*----------------------------
    Header end
--------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
    App start
-----------------------------*/

#app {
	min-height: 99.8%;
}

/*----------------------------
    App end
--------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
    Home start
-----------------------------*/

#home h3 {
	font-family: 'Bebas';
	width: 70%;
	line-height: 35px;
	margin-top: 30%;
	margin-bottom: 30px;
}

#home p {
	margin-bottom: 30px;
}

#home #btn-seeAll {
	color: #4B5320;
	background-color: transparent;
	border: 2px solid #4B5320;
	transition: all .3s ease;
	padding: 4px 12px 2px;
}

#home #btn-seeAll:hover,
#home #btn-seeAll:active {
	background-color: #4B5320;
	color: #ffffff;
}

/*----------------------------
    Home end
--------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
    About us start
-----------------------------*/

#about-us {
	margin-top: 50px;
}

#about-us #carousel {
	margin-bottom: 50px;
}

#about-us #carousel .carousel-inner {
	-webkit-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
}

#about-us #carousel .carousel-item img {
	height: 550px;
}

#about-us #carousel svg {
	color: #000000;
	font-size: 50px !important;
}

#about-us .item {
	padding: 25px;
	background-color: rgba(242, 242, 242, 0.8);
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	text-align: justify;
}

#about-us .item p {
	margin: 0;
}

/*----------------------------
    About us end
--------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
    Services us start
-----------------------------*/

#services {
	margin-top: 50px;
}

#services .item {
	padding: 30px 20px;
	background-color: rgba(242, 242, 242, 0.5);
	transition: all .3s ease;
	cursor: pointer;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
}

#services .item:hover {
	background-color: rgba(242, 242, 242, 0.8);
	-webkit-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
}

#services .item h3 {
	font-family: 'Bebas';
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 30px;
	letter-spacing: 2px;
}

#services .item h3::after {
	content: ' ';
	height: 3px;
	width: 90px;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -100%);
	background-color: #4B5320;
}

#services .item p {
	margin: 0;
}

#services .item svg {
	font-size: 30px !important;
	margin-bottom: 15px;
}

#services .btn {
	background-color: transparent;
	border: 2px solid #4B5320;
	color: #4B5320;
	border-radius: 0;
	padding: 5px 12px 4px;
	transition: all .3s ease;
}

#services .btn:hover {
	background-color: #43491d;
	color: #ffffff;
}

/*----------------------------
    Services us end
--------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
    References start
-----------------------------*/

/*----------------------------
    References end
--------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
    Partner start
-----------------------------*/

#partner {
	margin-top: 50px;
}

#partner .item {
	padding: 30px;
	transition: all .3s ease;
	cursor: pointer;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
}

#partner .item:hover {
	-webkit-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
}

/*----------------------------
    Partner end
--------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
    Jobs start
-----------------------------*/

#jobs {
	margin-top: 50px;
}

#jobs #btn-scroll {
	padding: 10px 15px 4px;
	background-color: transparent;
	border: 2px solid #000000;
	border-radius: 0;
	transition: all .3s ease;
	margin-bottom: 50px;
	cursor: pointer;
}

#jobs #btn-scroll:hover {
	background-color: #000000;
	color: #ffffff;
}

#jobs .jobs-background {
	background: url("../img/jobs/jobs.jpg") center center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
}

#jobs .jobs-background .jobs-div {
	color: #ffffff;
	padding-top: 50px;
	height: 1000px;
}

#jobs .scroll-down {
	position: relative;
}

#jobs .tooltip-show {
	position: absolute;
	top: 5px;
	left: 57%;
	transform: translate(-57%, -0%);
	visibility: hidden;
	opacity: 0;
	color: #ffffff;
	padding: 5px 10px;
	background-color: #000000;
}

#jobs #btn-scroll:hover .tooltip-show {
	visibility: visible !important;
	opacity: 1 !important;
}

/*----------------------------
    Jobs end
--------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
    Contact start
-----------------------------*/

#contact {
	margin-top: 50px;
}

#contact .key {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}

#contact .value {
	font-size: 16px;
	margin-bottom: 30px;
	margin-left: 30px;
}

#contact .contact img {
	width: 20px;
	margin-right: 5px;
	vertical-align: top;
}

#contact form {
	background-color: #f2f2f2;
	padding: 25px 10px;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
}

#contact h3 {
	font-family: 'Bebas';
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 30px;
}

#contact h3::after {
	content: ' ';
	height: 3px;
	width: 90px;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -100%);
	background-color: #4B5320;
}

#contact .form-control {
	border-radius: 0;
	padding: 8px 10px 5px;
}

#contact .input-group-text {
	border-radius: 0;
}

#contact .form-control:focus {
	border: 1px solid #ced4da;
	background-color: #FAFFBD;
}

#contact .input-group,
#contact textarea.form-control {
	-webkit-box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.75) !important;
	-moz-box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.75) !important;
	box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.75) !important;
}

#contact #btn-submit {
	width: 100%;
	background-color: #4B5320;
	border: none;
	padding: 10px 10px 8px;
	letter-spacing: 1px;
	font-weight: 500;
	text-transform: uppercase;
	border-radius: 0;
	transition: all .5s ease;
	margin-top: 10px;
}

#contact #btn-submit:hover {
	background-color: #646e2b;
}

#contact #map {
	height: 100%;
	min-height: 400px;
	background-color: #f2f2f2;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
}

/*----------------------------
    Contact end
--------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
    Footer start
-----------------------------*/

footer {
	padding: 30px 0;
}

footer .social a {
	display: inline-block;
}

footer .social-icon {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	transition: all .3s ease;
}

footer .social-icon:last-child {
	margin-right: 0;
}

footer #facebook:hover,
footer #instagram:hover {
	background-color: #4d4d4d;
}

footer #facebook {
	background: url('../img/social/facebook.png') center center no-repeat;
	background-size: 20px 20px;
	background-color: #000000;
	border-radius: 50%;
}

footer #instagram {
	background: url('../img/social/instagram.png') center center no-repeat;
	background-size: 20px 20px;
	background-color: #000000;
	border-radius: 50%;
}

footer .copyright {
	padding-top: 15px;
}

footer .copyright a {
	color: #3ba9c0;
	font-weight: bold;
}

footer .copyright a:hover {
	text-decoration: underline !important;
}

/*----------------------------
    Footer end
--------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
    Back-to-top start
-----------------------------*/

#back-to-top {
	position: fixed;
	bottom: 50px;
	right: 15px;
	width: 35px;
	height: 35px;
	z-index: 999;
	cursor: pointer;
	background: url("../img/back-to-top.png") center center no-repeat;
	background-size: 25px 25px;
	background-color: #000000;
	border-radius: 50%;
	transition: all .3s ease;
	visibility: hidden;
	opacity: 0;
}

#back-to-top:hover {
	background-color: #4d4d4d;
}

.back-to-top-show {
	visibility: visible !important;
	opacity: 1 !important;
}

/*----------------------------
    Back-to-top end
--------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
    Fonts start
-----------------------------*/

@font-face {
	font-family: 'Bebas';
	src: url('fonts/Bebas.ttf');
	font-weight: 700;
}

/*----------------------------
    Fonts end
--------------------------------------------------------------------------------------------*/

/* Media queries */

/*--------------------------------------------------------------------------------------------
	@media only screen and (max-width: 319px) start
-----------------------------------------------------------------------*/

@media only screen and (max-width: 319px) {
	header {
		display: none;
	}
}

/*---------------------------------------------------------------------
	@media only screen and (max-width: 319px) end
--------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
	@media only screen and (min-width: 320px) and (max-width: 767px) start
-----------------------------------------------------------------------*/

@media only screen and (min-width: 320px) and (max-width: 767px) {
	#app {
		padding-top: 55px;
	}
	header {
		display: none;
	}
	#home h3 {
		margin-top: 50px;
	}
	#about-us #carousel .carousel-item img {
		height: 250px;
	}
	#about-us #carousel svg {
		font-size: 35px !important;
	}
	#contact #map {
		min-height: 300px;
	}
	#jobs .jobs-background {
		background-attachment: scroll;
	}
	footer {
		padding-bottom: 15px;
	}
	footer #instagram {
		margin-right: 0;
	}
}

/*---------------------------------------------------------------------
	@media only screen and (min-width: 320px) and (max-width: 767px) end
--------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
	@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) start
-----------------------------------------------------------------------*/

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
	header {
		display: none;
	}
	#home h3 {
		width: 40%;
	}
	#about-us #carousel .carousel-item img {
		height: 300px;
	}
}

/*---------------------------------------------------------------------
	@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) end
--------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
	@media only screen and (min-width: 768px) and (max-width: 1024px) start
-----------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	header ul {
		font-size: 14px;
	}
	header .nav-item a {
		padding: 7px 10px 5px;
	}
	header .language {
		width: 18px;
	}
	header .logo {
		margin-top: 30px;
	}
	#about-us #carousel .carousel-item img {
		height: 450px;
	}
}

/*---------------------------------------------------------------------
	@media only screen and (min-width: 768px) and (max-width: 1024px) end
--------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
	@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) start
-----------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	header ul {
		font-size: 15px;
	}

	header .nav-item a {
		padding: 7px 10px 5px;
	}
	#about-us #carousel .carousel-item img {
		height: 450px;
	}
}

/*---------------------------------------------------------------------
	@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) end
--------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
	@media only screen and (min-width: 1025px) and (max-width: 1366px) start
-----------------------------------------------------------------------*/

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
	header ul {
		font-size: 15px;
	}

	header .nav-item a {
		padding: 7px 10px 5px;
	}
}

/*---------------------------------------------------------------------
	@media only screen and (min-width: 1025px) and (max-width: 1366px) end
--------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
	@media only screen and (min-width: 1025px) and (max-width: 1366px) and (orientation: landscape) start
-----------------------------------------------------------------------*/

@media only screen and (min-width: 1025px) and (max-width: 1366px) and (orientation: landscape) {
	header ul {
		font-size: 16px;
	}

	header .nav-item a {
		padding: 7px 15px 5px;
	}
}

/*---------------------------------------------------------------------
	@media only screen and (min-width: 1025px) and (max-width: 1366px) and (orientation: landscape) end
--------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
	@media only screen and (min-width: 1366px) start
-----------------------------------------------------------------------*/

@media only screen and (min-width: 1366px) {}

/*---------------------------------------------------------------------
	@media only screen and (min-width: 1366px) end
--------------------------------------------------------------------------------------------*/
