@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

html,
body {
	width: 100%;
	height: 100%;
	min-width: 250px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #000000;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

:focus {
	outline: none !important;
}

button:focus,
input:focus,
textarea:focus,
a:focus {
	box-shadow: none !important;
	outline: none !important;
}

a {
	text-decoration: none !important;
}

img {
	width: 100%;
	height: auto;
}

svg {
	font-size: 18px !important;
}


.home-background {
	background: url("../img/background.png") center no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/*
.background-jobs {
	background: url("../img/jobs/jobs.jpg") center no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
*/

.background {
	background: url("../img/car-2.jpg") center no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/*----------------------------
    Loader start
----------------------------*/

#loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: #f2f2f2 url('../img/loader.gif') center no-repeat;
	background-size: 60px;
}

/*----------------------------
    Loader end
----------------------------*/

/*----------------------------
    Top-menu start
----------------------------*/

#top-menu {
	background-color: #000000;
	padding: 15px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 998;
	transition: all .2s linear;
	box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
}

#top-menu .side-nav-icon {
	float: right;
	cursor: pointer;
	width: 25px;
}

#top-menu .nav-item.dropdown {
	display: inline-block;
	list-style: none;
}

#top-menu .dropdown-toggle {
	padding: 0;
}

#top-menu .language {
	border-radius: 50%;
	border: 2px solid #ffffff;
	width: 25px;
	padding: 1px;
}

#top-menu .flag {
	width: 20px;
	margin-right: 5px;
	vertical-align: text-bottom;
}

#top-menu .dropdown-toggle::after {
	display: none;
}

#top-menu .dropdown-menu {
	min-width: auto !important;
	text-transform: none;
	font-size: 14px;
}

#top-menu .dropdown-menu.show {
	top: 15px !important;
	padding: 0;
	margin: 0;
}

#top-menu .dropdown-menu a {
	text-align: right;
	padding: 10px 20px 10px 10px;
}

#top-menu .dropdown-item.active,
#top-menu .dropdown-item:active {
	color: #000000;
	background-color: #e6e6e6;
}

#top-menu .dropdown-item:hover:not(.active) {
	background-color: #f2f2f2;
}

/*----------------------------
    Top-menu end
----------------------------*/

/*----------------------------
    Side-nav start
----------------------------*/

#side-nav {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 0;
	height: 100%;
	z-index: 999;
	background-color: #000000;
	overflow-x: auto;
	transition: all .3s linear;
}

#side-nav .logo-link {
	position: absolute;
	top: 15px;
	left: 30px;
	width: 100px;
	height: 100px;
	background: url('../img/logo-white.png') center no-repeat;
	background-size: cover;
}

#side-nav .close {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 25px;
	height: 25px;
	z-index: 999;
	cursor: pointer;
	text-shadow: none;
	opacity: 1;
}

#side-nav ul {
	padding: 0;
	margin: 0;
	padding-top: 145px;
}

#side-nav ul li {
	list-style: none;
}

#side-nav ul li a {
	text-transform: uppercase;
	font-weight: bold;
	padding: 5px 0;
	padding-left: 30px;
	font-size: 20px;
	color: #FFFFFF;
	display: block;
	cursor: pointer;
}

#side-nav ul li a.active {
	font-weight: bold;
	background-color: #4B5320;
}

#side-nav ul li a span {
	margin-left: 5px;
}

/*----------------------------
    Side-nav end
----------------------------*/

/*----------------------------
    Close-nav start
----------------------------*/

#close-nav {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 0;
	height: 100%;
	z-index: 998;
	background-color: rgba(41, 48, 59, .55);
}

/*----------------------------
    Close-nav end
----------------------------*/

/*----------------------------
    Header start
----------------------------*/

header {
	padding: 30px 0;
	background-color: rgba(255, 255, 255, .4);
}

header ul {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

header .nav-item {
	float: left;
	list-style: none;
}

header .nav-item a {
	padding: 7px 20px 5px;
	color: #000000;
	font-weight: 500;
	transition: all .2s ease;
	position: relative;
}

header .nav-item:hover {
	background-color: rgba(75, 83, 32, 0.2);
}

header .nav-item.active a {
	font-weight: 700;
}

header .nav-item.active a::after {
	content: " ";
	position: absolute;
	left: 0;
	display: inline-block;
	height: 1em;
	width: 100%;
	border-bottom: 2px solid #000000;
	margin-top: 13px;
}

header .nav-item.dropdown:hover {
	background-color: transparent;
}

header .dropdown-menu a {
	margin: 0;
}

header .logo-link {
	display: inline-block;
}

header .logo {
	width: 130px;
	height: 140px;
}

header .language {
	width: 20px;
	vertical-align: sub;
}

header .flag {
	width: 20px;
	margin-right: 5px;
	vertical-align: text-bottom;
}

header .dropdown-toggle::after {
	display: none;
}

header .dropdown-menu {
	min-width: auto !important;
	text-transform: none;
	font-size: 14px;
}

header .dropdown-menu.show {
	top: 5px !important;
	left: auto !important;
	right: -30px;
	padding: 0;
	margin: 0;
}

header .dropdown-menu a {
	text-align: right;
	padding: 10px 20px 10px 10px;
}

header .dropdown-item.active,
header .dropdown-item:active {
	color: #000000;
	background-color: #e6e6e6;
}

header .dropdown-item:hover:not(.active) {
	background-color: #f2f2f2;
}

/*----------------------------
    Header end
----------------------------*/

/*----------------------------
    App start
----------------------------*/

#app {
	min-height: 99.8%;
}

/*----------------------------
    App end
----------------------------*/

/*----------------------------
    Home start
----------------------------*/

#home h3 {
	font-family: 'Bebas';
	width: 70%;
	line-height: 35px;
	margin-top: 30%;
	margin-bottom: 30px;
}

#home p {
	margin-bottom: 30px;
}

#home #btn-seeAll {
	color: #4B5320;
	background-color: transparent;
	border: 2px solid #4B5320;
	transition: all .3s ease;
	padding: 4px 0 2px;
	min-width: 120px;
}

#home #btn-seeAll:hover,
#home #btn-seeAll:active {
	background-color: #4B5320;
	color: #ffffff;
}

/*----------------------------
    Home end
----------------------------*/

/*----------------------------
    About us start
----------------------------*/

#about-us {
	margin-top: 50px;
}

#about-us .text {
	text-indent: 40px;
}

#about-us #carousel .carousel-inner {
	-webkit-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
}

#about-us #carousel .carousel-item img {
	height: 600px;
}

#about-us #carousel svg {
	color: #000000;
	font-size: 50px !important;
}

#about-us .item {
	padding: 25px;
	background-color: rgba(242, 242, 242, 0.8);
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	text-align: justify;
}

#about-us .item p {
	margin: 0;
}

#about-us .carousel-caption {
	color: #000000;
	background-color: rgba(230, 230, 230, 0.7);
	border-radius: 3px;
}

#about-us .carousel-indicators li {
	background-color: #8c8c8c;
}

#about-us .carousel-indicators li.active {
	background-color: #000000;
}

/*----------------------------
    About us end
----------------------------*/

/*----------------------------
    Services us start
----------------------------*/

#services {
	margin-top: 50px;
}

#services h2 {
	font-family: 'Bebas';
	position: relative;
	padding-bottom: 15px;
	margin-top: 0;
	margin-bottom: 50px;
	letter-spacing: 3px;
}

#services h2::after {
	content: ' ';
	height: 3px;
	width: 100px;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -100%);
	background-color: #4B5320;
}

#services h3 {
	font-family: 'Bebas';
	color: #000000;
	margin-bottom: 15px;
}

#services h3 a {
	color: #000000;
}

#services img {
	width: 90px;
}

#services .text {
	text-indent: 40px;
	margin-bottom: 20px;
}

#services #protection .text {
	margin: 0;
}

#services h5 {
	font-family: 'Bebas';
	text-transform: uppercase;
	margin-bottom: 10px;
}

#services h6 {
	font-family: 'Bebas';
	margin-top: 20px;
	margin-bottom: 0;
}

#services ul {
	margin-bottom: 0;
}

#services .service-item {
	border: 1px solid #000000;
	padding: 30px;
	margin-bottom: 30px;
	background-color: rgba(242, 242, 242, 0.5);
	transition: all .3s ease;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
}

#services .service-item:hover {
	background-color: rgba(242, 242, 242, 0.8);
	-webkit-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
}

#services .service-item p:last-child {
	margin-bottom: 0;
}

#services .logo img {
	width: 80px;
}

#services .item {
	position: relative;
	height: 100%;
	padding: 5px 25px 0;
	background-color: rgba(242, 242, 242, 0.5);
	transition: all .3s ease;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
}

#services .item:hover {
	background-color: rgba(242, 242, 242, 0.8);
	-webkit-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
}

#services .item h3 {
	font-family: 'Bebas';
	position: relative;
	padding-bottom: 15px;
	margin-top: 0;
	margin-bottom: 25px;
	letter-spacing: 3px;
}

#services .item h3::after {
	content: ' ';
	height: 3px;
	width: 100px;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -100%);
	background-color: #4B5320;
}

#services .item p {
	margin: 0;
}

#services .item svg {
	font-size: 30px !important;
	margin-bottom: 5px;
}

#services .service-text {
	padding-bottom: 75px;
}

#services .btn-readMore {
	position: absolute;
	bottom: 25px;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: transparent;
	border: 2px solid #4B5320;
	color: #4B5320;
	transition: all .3s ease;
	border-radius: 0;
	padding: 4px 0 2px;
	min-width: 120px;
}

#services .btn-readMore:hover {
	background-color: #43491d;
	color: #ffffff;
}

/*----------------------------
    Services us end
----------------------------*/

/*----------------------------
    Partner start
----------------------------*/

#references {
	margin-top: 50px;
}

#references .item {
	height: 200px;
	position: relative;
	transition: all .3s ease;
	cursor: pointer;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
}

#references .item:hover {
	-webkit-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
}

#references .item a {
	display: block;
	width: 100%;
	height: 100%;
}

#references .item img {
	padding: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*----------------------------
    Partner end
----------------------------*/

/*----------------------------
    Partner start
----------------------------*/

#partner {
	margin-top: 50px;
}

#partner .item {
	height: 200px;
	position: relative;
	transition: all .3s ease;
	cursor: pointer;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
}

#partner .item:hover {
	-webkit-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
}

#partner .item a {
	display: block;
	width: 100%;
	height: 100%;
}

#partner .item img {
	padding: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*----------------------------
    Partner end
----------------------------*/

/*----------------------------
    Jobs start
----------------------------*/

#jobs {
	margin-top: 50px;
}

#jobs #btn-scroll {
	padding: 10px 15px 4px;
	background-color: transparent;
	border: 2px solid #000000;
	border-radius: 0;
	transition: all .3s ease;
	cursor: pointer;
	-vendor-animation-duration: 1s;
	-vendor-animation-delay: 2s;
}

#jobs #btn-scroll:hover {
	background-color: #000000;
	color: #ffffff;
}

#jobs .tooltip-div {
	position: relative;
	display: inline-block;
	text-align: center;
}

#jobs .tooltip-div .tooltip-text {
	visibility: hidden;
	width: 120px;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	padding: 5px 0;
	position: absolute;
	z-index: 999;
	left: -35px;
	top: -85px;
	opacity: 0;
	transition: opacity 0.3s ease;
}

#jobs .tooltip-div .tooltip-text::after {
	content: " ";
	position: absolute;
	left: 44%;
	top: 100%;
	border-width: 7px;
	border-style: solid;
	border-color: #000000 transparent transparent transparent;
}

#jobs .tooltip-div:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}

#jobs .jobs-background {
	margin-top: 20px;
	background: url("../img/jobs/jobs.jpg") 25% center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
}

#jobs .jobs-background .jobs-div {
	color: #ffffff;
	padding: 50px 0;
	height: auto;
}

#jobs .positions ul li {
	list-style: none;
}

#jobs .positions ul li a {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
}

#jobs .positions ul li a:hover {
	text-decoration: underline !important;
}

#jobs .positions ul:last-child {
	margin-bottom: 0;
}

#jobs .mailto {
	color: #ffffff;
	font-weight: bold;
}

#jobs .mailto:hover {
	text-decoration: underline !important;
}

#jobs .jobs-text {
	width: 50%;
}

/*----------------------------
    Jobs end
----------------------------*/

/*----------------------------
    Contact start
----------------------------*/

#contact {
	margin-top: 50px;
}

#contact .contact img {
	width: 20px;
	margin-right: 10px;
	vertical-align: top;
}

#contact .key {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}

#contact .value {
	font-size: 16px;
	margin-bottom: 30px;
	margin-left: 35px;
}

#contact .value:last-child {
	margin-bottom: 0;
}

#contact .value a {
	color: #000000;
}

#contact .value a:hover {
	text-decoration: underline !important;
}

#contact .contact,
#contact form {
	height: 100%;
	background-color: #f2f2f2;
	padding: 25px;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
}

#contact .information {
	padding-left: 40px;
}

#contact h3 {
	font-family: 'Bebas';
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 25px;
}

#contact h3::after {
	content: ' ';
	height: 3px;
	width: 90px;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -100%);
	background-color: #4B5320;
}

#contact .input-group,
#contact textarea.form-control {
	-webkit-box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.75) !important;
	-moz-box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.75) !important;
	box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.75) !important;
}

#contact .input-group-text {
	border-radius: 0;
}

#contact .form-control {
	border-radius: 0;
	padding: 8px 10px 5px;
}

#contact .form-control:focus {
	border: 1px solid #ced4da;
	background-color: #FAFFBD;
}

#contact #btn-submit {
	width: 100%;
	background-color: #4B5320;
	border: none;
	padding: 10px 0 8px;
	letter-spacing: 1px;
	font-weight: 500;
	text-transform: uppercase;
	border-radius: 0;
	transition: all .5s ease;
	margin-top: 10px;
}

#contact #btn-submit:hover {
	background-color: #646e2b;
}

#contact iframe {
	margin-bottom: 40px;
	background-color: transparent;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
}

/*----------------------------
    Contact end
----------------------------*/

/*----------------------------
    Login start
----------------------------*/

#login {
	margin-top: 50px;
}

#login .login-div {
	background-color: #f2f2f2;
	padding: 50px 130px;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
}

#login h3 {
	font-family: 'Bebas';
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 35px;
}

#login h3::after {
	content: ' ';
	height: 3px;
	width: 90px;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -100%);
	background-color: #4B5320;
}

#login .form-group {
	margin: 0;
}

#login .input-group {
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.75) !important;
	-moz-box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.75) !important;
	box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.75) !important;
}

#login .input-group.password {
	margin-bottom: 0;
}

#login .input-group-text {
	border-radius: 0;
}

#login .form-control {
	border-radius: 0;
	padding: 8px 10px 5px;
}

#login .form-control:focus {
	border: 1px solid #ced4da;
	background-color: #FAFFBD;
}

#login .remember {
	margin-top: 10px;
}

#login .remember label {
	margin-bottom: 0;
}

#login .remember input {
	transform: scale(1.23);
	margin-right: 3px;
}

#login .forgot-password a {
	color: #000000;
	padding: 15px 0;
}

#login .forgot-password a:hover {
	text-decoration: underline !important;
}

#login .login {
	width: 100%;
	background-color: #4B5320;
	border: none;
	padding: 10px 0 8px;
	letter-spacing: 1px;
	font-weight: 500;
	text-transform: uppercase;
	border-radius: 0;
	transition: all .5s ease;
}

#login .login:hover {
	background-color: #646e2b;
}

/*----------------------------
    Login end
----------------------------*/

/*----------------------------
    Reset password start
----------------------------*/

#reset-password {
	margin-top: 50px;
}

#reset-password .reset-password-div {
	background-color: #f2f2f2;
	padding: 50px 130px;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
}

#reset-password h3 {
	font-family: 'Bebas';
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 35px;
}

#reset-password h3::after {
	content: ' ';
	height: 3px;
	width: 90px;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -100%);
	background-color: #4B5320;
}

#reset-password .form-group {
	margin: 0;
}

#reset-password .input-group {
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.75) !important;
	-moz-box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.75) !important;
	box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.75) !important;
}

#reset-password .input-group-text {
	border-radius: 0;
}

#reset-password .form-control {
	border-radius: 0;
	padding: 8px 10px 5px;
}

#reset-password .form-control:focus {
	border: 1px solid #ced4da;
	background-color: #FAFFBD;
}

#reset-password .reset-password {
	width: 100%;
	background-color: #4B5320;
	border: none;
	padding: 10px 0 8px;
	letter-spacing: 1px;
	font-weight: 500;
	text-transform: uppercase;
	border-radius: 0;
	transition: all .5s ease;
}

#reset-password .reset-password:hover {
	background-color: #646e2b;
}

/*----------------------------
    Reset password end
----------------------------*/

/*----------------------------
    Reset email start
----------------------------*/

#reset-email {
	margin-top: 50px;
}

#reset-email .reset-email-div {
	background-color: #f2f2f2;
	padding: 50px 130px;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
}

#reset-email h3 {
	font-family: 'Bebas';
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 35px;
}

#reset-email h3::after {
	content: ' ';
	height: 3px;
	width: 90px;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -100%);
	background-color: #4B5320;
}

#reset-email .form-group {
	margin: 0;
}

#reset-email .input-group {
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.75) !important;
	-moz-box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.75) !important;
	box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.75) !important;
}

#reset-email .input-group-text {
	border-radius: 0;
}

#reset-email .form-control {
	border-radius: 0;
	padding: 8px 10px 5px;
}

#reset-email .form-control:focus {
	border: 1px solid #ced4da;
	background-color: #FAFFBD;
}

#reset-email .reset-email {
	width: 100%;
	background-color: #4B5320;
	border: none;
	padding: 10px 0 8px;
	letter-spacing: 1px;
	font-weight: 500;
	text-transform: uppercase;
	border-radius: 0;
	transition: all .5s ease;
}

#reset-email .reset-email:hover {
	background-color: #646e2b;
}

/*----------------------------
    Reset email end
----------------------------*/

/*----------------------------
    Footer start
----------------------------*/

#footer {
	display: none;
	padding: 30px 0 15px;
	background-color: rgba(255, 255, 255, .4);
}

#footer .social a {
	display: inline-block;
}

#footer .social-icon {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	transition: all .3s ease;
}

#footer .social-icon:last-child {
	margin-right: 0;
}

#footer #facebook {
	background: url('../img/social/facebook.png') center no-repeat;
	background-size: 20px;
	background-color: #000000;
	border-radius: 50%;
	vertical-align: middle;
	transition: all .3s ease;
}

#footer #instagram {
	background: url('../img/social/instagram.png') center no-repeat;
	background-size: 20px;
	background-color: #000000;
	border-radius: 50%;
	vertical-align: middle;
	transition: all .3s ease;
}

#footer #facebook:hover,
#footer #instagram:hover {
	background-color: #4d4d4d;
}

#footer .links {
	padding-top: 30px;
}

#footer .links a {
	font-size: 16px;
	color: #000000;
	font-weight: bold;
}

#footer .links a:hover {
	text-decoration: underline !important;
}

#footer .copyright {
	padding-top: 30px;
}

#footer .copyright a {
	color: #000000;
	font-weight: bold;
}

#footer .copyright a:hover {
	text-decoration: underline !important;
}

/*----------------------------
    Footer end
----------------------------*/

/*----------------------------
    Back-to-top start
----------------------------*/

#back-to-top {
	position: fixed;
	bottom: 50px;
	right: 15px;
	width: 35px;
	height: 35px;
	z-index: 998;
	cursor: pointer;
	background: url("../img/back-to-top.png") center no-repeat;
	background-size: 25px;
	background-color: #000000;
	border-radius: 50%;
	transition: all .3s ease;
	visibility: hidden;
	opacity: 0;
}

#back-to-top:hover {
	background-color: #4d4d4d;
}

.back-to-top-show {
	visibility: visible !important;
	opacity: 1 !important;
}

/*----------------------------
    Back-to-top end
----------------------------*/

/*----------------------------
    Fonts start
----------------------------*/

@font-face {
	font-family: 'Bebas';
	src: url('fonts/Bebas.ttf');
	font-weight: 700;
}

/*----------------------------
    Fonts end
----------------------------*/

/* Media queries */

/*----------------------------
	@media only screen and (max-width: 319px) start
----------------------------*/

@media only screen and (max-width: 319px) {
	header {
		display: none;
	}
}

/*----------------------------
	@media only screen and (max-width: 319px) end
----------------------------*/

/*----------------------------
	@media only screen and (max-width: 320px) start
----------------------------*/

@media only screen and (max-width: 320px) {
	#side-nav ul li a {
		font-size: 18px;
	}
	#jobs .jobs-text {
		width: 100%;
	}
	#contact form {
		padding: 25px 15px;
	}
	#contact .information {
		padding-left: 0;
	}
}

/*----------------------------
	@media only screen and (max-width: 320px) end
----------------------------*/

/*----------------------------
	@media only screen and (min-width: 320px) and (max-width: 767px) start
----------------------------*/

@media only screen and (min-width: 320px) and (max-width: 767px) {
	#app {
		padding-top: 55px;
	}
	header {
		display: none;
	}
	#home h3 {
		margin-top: 50px;
	}
	#about-us #carousel .carousel-item img {
		height: 250px;
	}
	#about-us #carousel svg {
		font-size: 35px !important;
	}
	#jobs .jobs-text {
		width: 100%;
	}
	#contact .information {
		padding-left: 0;
	}
	#contact iframe {
		min-height: 300px;
	}
	#footer {
		padding-bottom: 15px;
	}
	#footer #instagram {
		margin-right: 0;
	}
}

/*----------------------------
	@media only screen and (min-width: 320px) and (max-width: 767px) end
----------------------------*/

/*----------------------------
	@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: landscape) start
----------------------------*/

@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: landscape) {
	#references .item img,
	#partner .item img {
		padding: 90px;
	}
}

/*----------------------------
	@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: landscape) end
----------------------------*/

/*----------------------------
	@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) start
----------------------------*/

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
	header {
		display: none;
	}
	#side-nav .logo-link {
		left: 40px;
	}
	#side-nav ul li a {
		padding-left: 40px;
	}
	#home h3 {
		width: 40%;
	}
	#about-us #carousel .carousel-item img {
		height: 250px;
	}
}

/*----------------------------
	@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) end
----------------------------*/

/*----------------------------
	@media only screen and (min-width: 768px) and (max-width: 1024px) start
----------------------------*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	header ul {
		font-size: 14px;
	}
	header .nav-item a {
		padding: 7px 10px 5px;
	}
	header .language {
		width: 18px;
	}
	header .logo {
		margin-top: 30px;
	}
	header .dropdown-menu.show {
		right: -45px;
	}
	#about-us #carousel .carousel-item img {
		height: 450px;
	}
	#contact .information {
		padding-left: 10px;
	}
}

/*----------------------------
	@media only screen and (min-width: 768px) and (max-width: 1024px) end
----------------------------*/

/*----------------------------
	@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) start
----------------------------*/

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	header ul {
		font-size: 15px;
	}
	header .nav-item a {
		padding: 7px 10px 5px;
	}
	#about-us #carousel .carousel-item img {
		height: 450px;
	}
	#contact .information {
		padding-left: 0;
	}
}

/*----------------------------
	@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) end
----------------------------*/

/*----------------------------
	@media only screen and (min-width: 1025px) and (max-width: 1366px) start
----------------------------*/

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
	header ul {
		font-size: 15px;
	}
}

/*----------------------------
	@media only screen and (min-width: 1025px) and (max-width: 1366px) end
----------------------------*/

/*----------------------------
	@media only screen and (min-width: 1025px) and (max-width: 1366px) and (orientation: landscape) start
----------------------------*/

@media only screen and (min-width: 1025px) and (max-width: 1366px) and (orientation: landscape) {
	header ul {
		font-size: 16px;
	}
}

/*----------------------------
	@media only screen and (min-width: 1025px) and (max-width: 1366px) and (orientation: landscape) end
----------------------------*/

/*----------------------------
	@media only screen and (min-width: 1366px) start
----------------------------*/

@media only screen and (min-width: 1366px) {}

/*----------------------------
	@media only screen and (min-width: 1366px) end
----------------------------*/
