@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

html,
body {
	width: 100%;
	min-width: 250px;
	height: 100%;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	background: url('../img/background.png') 55% center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #000000;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

button:focus,
input:focus,
textarea:focus {
	box-shadow: none !important;
	outline: none !important;
}

a {
	text-decoration: none !important;
}

img {
	width: 100%;
	height: auto;
}

/*----------------------------
    mysidenav start
-----------------------------*/

#mySidenav.sidenav {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	z-index: 999;
	background-color: #263238;
	overflow-x: auto;
	transition: all .3s linear;
	-webkit-box-shadow: -5px 0px 30px -10px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -5px 0px 30px -10px rgba(0, 0, 0, 0.75);
	box-shadow: -5px 0px 30px -10px rgba(0, 0, 0, 0.75);
}

#mySidenav.sidenav .close {
	position: absolute;
	top: 15px;
	left: 20px;
	width: 25px;
	height: 25px;
	z-index: 999;
	cursor: pointer;
	text-shadow: none;
	opacity: 1;
}

#mySidenav.sidenav ul {
	padding: 0;
	padding-top: 70px;
}

#mySidenav.sidenav ul li {
	list-style: none;
}

#mySidenav.sidenav ul li a {
	padding: 9px 0 7px;
	margin-left: 20px;
	font-size: 18px;
	color: #FFFFFF;
	display: block;
	cursor: pointer;
}

#mySidenav.sidenav ul li a.active {
	color: #00AFE5;
	font-weight: bold;
}

#mySidenav.sidenav ul li a span {
	margin-left: 5px;
}

/*----------------------------
    mysidenav end
-----------------------------*/

/*----------------------------
    sidenav start
-----------------------------*/

#sidenav {
	background-color: #4B5320;
	padding: 15px 0;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 998;
}

#sidenav .sidenav-icon {
	margin-left: 20px;
}

#sidenav img {
	cursor: pointer;
	width: 25px;
}

/*----------------------------
    sidenav end
-----------------------------*/

/*----------------------------
    header start
-----------------------------*/

header {
	padding: 30px 0;
}

header ul {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

header .nav-bar-left .nav-item {
	float: left;
	display: inline-block;
}

header .nav-bar-right .nav-item {
	float: none;
	display: inline-block;
}

header .nav-item a {
	margin: 0 15px;
	padding: 7px 0 5px;
	color: #000000;
	font-weight: 500;
	transition: all .2s ease;
	display: inline-block;
	position: relative;
}

header .nav-item:hover {
	background-color: rgba(75, 83, 32, 0.2);
}

header .nav-item.active a {
	font-weight: 700;
}

header .nav-item.active a::after {
	content: " ";
	position: absolute;
	left: 0;
	display: inline-block;
	height: 1em;
	width: 100%;
	border-bottom: 2px solid #000000;
	margin-top: 13px;
}

header .nav-item.dropdown:hover {
	background-color: transparent;
}

header .dropdown-menu a {
	margin: 0;
}

header .logo-link {
	display: inline-block;
}

header .logo {
	width: 130px;
	height: 140px;
}

header .language {
	width: 20px;
	vertical-align: sub;
}

header .flag {
	width: 20px;
	margin-right: 5px;
	vertical-align: text-bottom;
}

header .dropdown-toggle::after {
	display: none;
}

header .dropdown-menu {
	min-width: auto !important;
	text-transform: none;
	font-size: 14px;
}

header .dropdown-menu.show {
	top: 10px !important;
	left: auto !important;
	right: -50px;
	padding: 0;
	margin: 0;
}

header .dropdown-menu a {
	text-align: right;
	padding: 10px 20px 10px 10px;
}

header .dropdown-item.active,
header .dropdown-item:active {
	background-color: #cccccc;
}

header .dropdown-item:hover:not(.active) {
	background-color: #f2f2f2;
}

/*----------------------------
    header end
-----------------------------*/

/*----------------------------
    app start
-----------------------------*/

#app {
	min-height: 100%;
}

/*----------------------------
    app end
-----------------------------*/

/*----------------------------
    content start
-----------------------------*/

#content h3 {
	font-family: 'Bebas';
	width: 70%;
	line-height: 35px;
	margin-top: 30%;
	margin-bottom: 30px;
}

#content p {
	margin-bottom: 30px;
}

#content #btn-seeAll {
	background-color: transparent;
	border: 2px solid #4B5320;
	transition: all .3s ease;
	padding: 3px 12px;
}

#content #btn-seeAll:hover,
#content #btn-seeAll:active {
	background-color: #4B5320;
	color: #ffffff;
}

/*----------------------------
    content end
-----------------------------*/

/*----------------------------
    footer start
-----------------------------*/

footer {
	padding-bottom: 30px;
}

footer .social a {
	display: inline-block;
}

footer .social-icon {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	transition: all .3s ease;
}

footer #facebook {
	background: url('../img/social/facebook.png') center center no-repeat;
	background-size: cover;
}

footer #facebook:hover {
	background: url('../img/social/facebook-hover.png') center center no-repeat;
	background-size: cover;
}

footer #instagram {
	background: url('../img/social/instagram.png') center center no-repeat;
	background-size: cover;
	margin-right: 14px;
}

footer #instagram:hover {
	background: url('../img/social/instagram-hover.png') center center no-repeat;
	background-size: cover;
}

/*----------------------------
    footer end
-----------------------------*/

/*----------------------------
    back-to-top start
-----------------------------*/

#back-to-top {
	position: fixed;
	bottom: 40px;
	right: 15px;
	width: 40px;
	height: 40px;
	z-index: 999;
	cursor: pointer;
	background: url("../img/back-to-top.png") center center no-repeat;
	background-size: 30px 30px;
	background-color: #4B5320;
	border-radius: 50%;
	transition: all .5s ease;
	visibility: hidden;
	opacity: 0;
}

.show-back-to-top {
	visibility: visible !important;
	opacity: 1 !important;
}

#back-to-top:hover {
	opacity: 0.8 !important;
}

/*----------------------------
    back-to-top end
-----------------------------*/

/*----------------------------
    fonts start
-----------------------------*/

@font-face {
	font-family: 'Bebas';
	src: url('fonts/Bebas.ttf');
	font-weight: 600;
}

/*----------------------------
    fonts end
-----------------------------*/

/* Media queries */

/*---------------------------------------------------------------------
@media only screen and (max-width: 319px) start
-----------------------------------------------------------------------*/

@media only screen and (max-width: 319px) {
	header {
		display: none;
	}
}

/*---------------------------------------------------------------------
@media only screen and (max-width: 319px) end
-----------------------------------------------------------------------*/

/*---------------------------------------------------------------------
@media only screen and (min-width: 320px) and (max-width: 767px) start
-----------------------------------------------------------------------*/

@media only screen and (min-width: 320px) and (max-width: 767px) {
	header {
		display: none;
	}
}

/*---------------------------------------------------------------------
@media only screen and (min-width: 320px) and (max-width: 767px) end
-----------------------------------------------------------------------*/

/*---------------------------------------------------------------------
@media only screen and (min-width: 320px) and (max-width: 767px) 
and (orientation: landscape) start
-----------------------------------------------------------------------*/

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
	header {
		display: none;
	}
}

/*---------------------------------------------------------------------
@media only screen and (min-width: 320px) and (max-width: 767px) 
and (orientation: landscape) end
-----------------------------------------------------------------------*/

/*---------------------------------------------------------------------
@media only screen and (min-width: 768px) and (max-width: 1024px) start
-----------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	#sidenav,
	#mySidenav {
		display: none;
	}
}

/*---------------------------------------------------------------------
@media only screen and (min-width: 768px) and (max-width: 1024px) end
-----------------------------------------------------------------------*/

/*---------------------------------------------------------------------
@media only screen and (min-width: 768px) and (max-width: 1024px) 
and (orientation: landscape) start
-----------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	#sidenav,
	#mySidenav {
		display: none;
	}
}

/*---------------------------------------------------------------------
@media only screen and (min-width: 768px) and (max-width: 1024px) 
and (orientation: landscape) end
-----------------------------------------------------------------------*/

/*---------------------------------------------------------------------
@media only screen and (min-width: 1025px) and (max-width: 1366px) start
-----------------------------------------------------------------------*/

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
	#sidenav,
	#mySidenav {
		display: none;
	}
}

/*---------------------------------------------------------------------
@media only screen and (min-width: 1025px) and (max-width: 1366px) end
-----------------------------------------------------------------------*/

/*---------------------------------------------------------------------
@media only screen and (min-width: 1025px) and (max-width: 1366px) 
and (orientation: landscape) start
-----------------------------------------------------------------------*/

@media only screen and (min-width: 1025px) and (max-width: 1366px) and (orientation: landscape) {
	#sidenav,
	#mySidenav {
		display: none;
	}
}

/*---------------------------------------------------------------------
@media only screen and (min-width: 1025px) and (max-width: 1366px) 
and (orientation: landscape) end
-----------------------------------------------------------------------*/

